.contact-section{

    padding:100px 20px;

}


.contact-container{

    max-width:1100px;

    margin:auto;

}


.contact-container h2{

    text-align:center;

    font-size:42px;

    color:#8B5CF6;

    margin-bottom:60px;

}



.contact-grid{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:40px;

}




.contact-info,
.contact-form{

    background:#1E293B;

    padding:35px;

    border-radius:25px;

    border:1px solid #334155;

}



.contact-info h3{

    color:#F8FAFC;

    font-size:28px;

    margin-bottom:30px;

}




.contact-item{

    display:flex;

    align-items:center;

    gap:15px;

    margin-bottom:20px;

    color:#CBD5E1;

}



.contact-item svg{

    color:#8B5CF6;

    font-size:22px;

}



.social-links{

    display:flex;

    gap:20px;

    margin-top:30px;

}



.social-links a{

    width:45px;

    height:45px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(
    135deg,
    #8B5CF6,
    #3B82F6
    );

    color:white;

    font-size:20px;

}




.contact-form{

    display:flex;

    flex-direction:column;

    gap:20px;

}



.contact-form input,
.contact-form textarea{

    width:100%;

    padding:15px;

    border-radius:12px;

    border:none;

    outline:none;

    background:#0F172A;

    color:white;

    font-size:16px;

}



.contact-form input::placeholder,
.contact-form textarea::placeholder{

    color:#94A3B8;

}




.contact-form button{

    padding:15px;

    border:none;

    border-radius:12px;

    cursor:pointer;

    background:linear-gradient(
    135deg,
    #8B5CF6,
    #3B82F6
    );

    color:white;

    font-size:17px;

    font-weight:600;

}



.contact-form button:hover{

    transform:translateY(-3px);

}




@media(max-width:800px){

.contact-grid{

    grid-template-columns:1fr;

}

}