.experience-section{

    padding:100px 20px;

}


.experience-container{

    max-width:1000px;

    margin:auto;

}


.experience-container h2{

    text-align:center;

    color:#8B5CF6;

    font-size:42px;

    margin-bottom:50px;

}



.experience-card{

    display:flex;

    gap:30px;

    background:#1E293B;

    padding:35px;

    border-radius:25px;

    border:1px solid #334155;

    transition:.3s;

}



.experience-card:hover{

    transform:translateY(-8px);

    border-color:#8B5CF6;

    box-shadow:
    0 20px 40px rgba(139,92,246,.2);

}



.experience-icon{

    min-width:70px;

    height:70px;

    display:flex;

    justify-content:center;

    align-items:center;

    border-radius:50%;

    background:linear-gradient(
    135deg,
    #8B5CF6,
    #3B82F6
    );

    color:white;

    font-size:30px;

}



.experience-content h3{

    color:#F8FAFC;

    font-size:28px;

}



.experience-content h4{

    color:#8B5CF6;

    margin:10px 0;

}



.experience-content span{

    color:#94A3B8;

}



.experience-content ul{

    margin-top:20px;

    padding-left:20px;

    color:#CBD5E1;

    line-height:1.8;

}



@media(max-width:700px){

.experience-card{

    flex-direction:column;

}

}

.education-score{

    color:#8B5CF6;

    font-weight:600;

    margin-top:10px;

}

.experience-card {
    margin-bottom: 30px;
}